.index-page-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.index-page-text1 {
  display: inline-block;
}
 
.index-page-text2 {
  display: inline-block;
}
 
.index-page-text3 {
  display: inline-block;
}
 
.index-page-text4 {
  display: inline-block;
}
 
.index-page-text5 {
  display: inline-block;
}
