.log-in-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.log-in-text10 {
  display: inline-block;
}
 
.log-in-text11 {
  display: inline-block;
}
 
.log-in-text12 {
  display: inline-block;
}
 
.log-in-text13 {
  display: inline-block;
}
 
.log-in-text14 {
  display: inline-block;
}
 
.log-in-text15 {
  display: inline-block;
}
 
.log-in-text16 {
  display: inline-block;
}
 
.log-in-text17 {
  display: inline-block;
}
 
.log-in-text18 {
  display: inline-block;
}
 
.log-in-text19 {
  display: inline-block;
}
 
.log-in-text20 {
  display: inline-block;
}
 
.log-in-text21 {
  display: inline-block;
}
 
.log-in-text22 {
  display: inline-block;
}
 
.log-in-text23 {
  display: inline-block;
}
 
.log-in-text24 {
  display: inline-block;
}
 
.log-in-text25 {
  display: inline-block;
}
