.register-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.register-text10 {
  display: inline-block;
}
 
.register-text11 {
  display: inline-block;
}
 
.register-text12 {
  display: inline-block;
}
 
.register-text13 {
  display: inline-block;
}
 
.register-text14 {
  display: inline-block;
}
 
.register-text15 {
  display: inline-block;
}
 
.register-text16 {
  display: inline-block;
}
 
.register-text17 {
  display: inline-block;
}
 
.register-text18 {
  display: inline-block;
}
 
.register-text19 {
  display: inline-block;
}
 
.register-text20 {
  display: inline-block;
}
 
.register-text21 {
  display: inline-block;
}
 
.register-text22 {
  display: inline-block;
}
 
.register-text23 {
  display: inline-block;
}
 
.register-text24 {
  display: inline-block;
}
 
.register-text25 {
  display: inline-block;
}
 
.register-text26 {
  display: inline-block;
}
 
.register-text27 {
  display: inline-block;
}
