.register-with-email-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.register-with-email-text10 {
  display: inline-block;
}
 
.register-with-email-text11 {
  display: inline-block;
}
 
.register-with-email-text12 {
  display: inline-block;
}
 
.register-with-email-text13 {
  display: inline-block;
}
 
.register-with-email-text14 {
  display: inline-block;
}
 
.register-with-email-text15 {
  display: inline-block;
}
 
.register-with-email-text16 {
  display: inline-block;
}
 
.register-with-email-text17 {
  display: inline-block;
}
 
.register-with-email-text18 {
  display: inline-block;
}
 
.register-with-email-text19 {
  display: inline-block;
}
 
.register-with-email-text20 {
  display: inline-block;
}
 
.register-with-email-text21 {
  display: inline-block;
}
 
.register-with-email-text22 {
  display: inline-block;
}
 
.register-with-email-text23 {
  display: inline-block;
}
 
.register-with-email-text24 {
  display: inline-block;
}
 
.register-with-email-text25 {
  display: inline-block;
}
 
.register-with-email-text26 {
  display: inline-block;
}
