.sign-up-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.sign-up-text1 {
  display: inline-block;
}
 
.sign-up-text2 {
  display: inline-block;
}
 
.sign-up-text3 {
  display: inline-block;
}
 
.sign-up-text4 {
  display: inline-block;
}
 
.sign-up-text5 {
  display: inline-block;
}
