.home-pricing-pricing23 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-pricing-max-width {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-pricing-section-title {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-pricing-text100 {
  text-align: center;
}
 
.home-pricing-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-pricing-text101 {
  text-align: center;
}
 
.home-pricing-text102 {
  text-align: center;
}
 
.home-pricing-tabs {
  display: flex;
  align-items: flex-start;
}
 
.home-pricing-button10 {
  gap: var(--dl-layout-space-halfunit);
  color: var(--dl-color-theme-neutral-light);
  width: 120px;
  height: 60px;
  border-top-left-radius: var(--dl-layout-radius-buttonradius);
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--dl-layout-radius-buttonradius);
  border-bottom-right-radius: 0;
}
 
.home-pricing-button11 {
  gap: var(--dl-layout-space-halfunit);
  width: 120px;
  height: 60px;
  border-style: solid;
  border-top-left-radius: var(--dl-layout-radius-buttonradius);
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--dl-layout-radius-buttonradius);
  border-bottom-right-radius: 0;
}
 
.home-pricing-button12 {
  gap: var(--dl-layout-space-halfunit);
  color: var(--dl-color-theme-neutral-light);
  width: 120px;
  height: 60px;
  border-top-left-radius: 0;
  border-top-right-radius: var(--dl-layout-radius-buttonradius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: var(--dl-layout-radius-buttonradius);
}
 
.home-pricing-button13 {
  gap: var(--dl-layout-space-halfunit);
  width: 120px;
  height: 60px;
  border-style: solid;
  border-top-left-radius: 0;
  border-top-right-radius: var(--dl-layout-radius-buttonradius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: var(--dl-layout-radius-buttonradius);
}
 
.home-pricing-container1 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-pricing-column1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.home-pricing-price10 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-pricing-price11 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-pricing-text107 {
  font-style: normal;
  font-weight: 600;
}
 
.home-pricing-text108 {
  font-size: 48px;
}
 
.home-pricing-list1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-pricing-list-item10 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-pricing-list-item11 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-pricing-list-item12 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-pricing-button14 {
  width: 100%;
}
 
.home-pricing-column2 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent1);
}
 
.home-pricing-price12 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-pricing-price13 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-pricing-text114 {
  font-style: normal;
  font-weight: 600;
}
 
.home-pricing-text115 {
  font-size: 48px;
}
 
.home-pricing-list2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-pricing-list-item13 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-pricing-list-item14 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-pricing-list-item15 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-pricing-list-item16 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-pricing-button15 {
  width: 100%;
}
 
.home-pricing-column3 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent2);
}
 
.home-pricing-price14 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-pricing-price15 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-pricing-text122 {
  font-style: normal;
  font-weight: 600;
}
 
.home-pricing-text123 {
  font-size: 48px;
}
 
.home-pricing-list3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-pricing-list-item17 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-pricing-list-item18 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-pricing-list-item19 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-pricing-list-item20 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-pricing-list-item21 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-pricing-button16 {
  width: 100%;
}
 
.home-pricing-container2 {
  gap: 32px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-pricing-column4 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.home-pricing-price16 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-pricing-price17 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-pricing-text131 {
  font-style: normal;
  font-weight: 600;
}
 
.home-pricing-text132 {
  font-size: 48px;
}
 
.home-pricing-list4 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-pricing-list-item22 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-pricing-list-item23 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-pricing-list-item24 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-pricing-button17 {
  width: 100%;
}
 
.home-pricing-column5 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent1);
}
 
.home-pricing-price18 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-pricing-price19 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-pricing-text138 {
  font-style: normal;
  font-weight: 600;
}
 
.home-pricing-text139 {
  font-size: 48px;
}
 
.home-pricing-list5 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-pricing-list-item25 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-pricing-list-item26 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-pricing-list-item27 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-pricing-list-item28 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-pricing-button18 {
  width: 100%;
}
 
.home-pricing-column6 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent2);
}
 
.home-pricing-price20 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-pricing-price21 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-pricing-text146 {
  font-style: normal;
  font-weight: 600;
}
 
.home-pricing-text147 {
  font-size: 48px;
}
 
.home-pricing-list6 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-pricing-list-item29 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-pricing-list-item30 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-pricing-list-item31 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-pricing-list-item32 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-pricing-list-item33 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-pricing-button19 {
  width: 100%;
}
 
.home-pricing-text155 {
  display: inline-block;
}
 
.home-pricing-text156 {
  display: inline-block;
}
 
.home-pricing-text157 {
  display: inline-block;
}
 
.home-pricing-text158 {
  display: inline-block;
}
 
.home-pricing-text159 {
  display: inline-block;
}
 
.home-pricing-text160 {
  display: inline-block;
}
 
.home-pricing-text161 {
  display: inline-block;
}
 
.home-pricing-text162 {
  display: inline-block;
}
 
.home-pricing-text163 {
  display: inline-block;
}
 
.home-pricing-text164 {
  display: inline-block;
}
 
.home-pricing-text165 {
  display: inline-block;
}
 
.home-pricing-text166 {
  display: inline-block;
}
 
.home-pricing-text167 {
  display: inline-block;
}
 
.home-pricing-text168 {
  display: inline-block;
}
 
.home-pricing-text169 {
  display: inline-block;
}
 
.home-pricing-text170 {
  display: inline-block;
}
 
.home-pricing-text171 {
  display: inline-block;
}
 
.home-pricing-text172 {
  display: inline-block;
}
 
.home-pricing-text173 {
  display: inline-block;
}
 
.home-pricing-text174 {
  display: inline-block;
}
 
.home-pricing-text175 {
  display: inline-block;
}
 
.home-pricing-text176 {
  display: inline-block;
}
 
.home-pricing-text177 {
  display: inline-block;
}
 
.home-pricing-text178 {
  display: inline-block;
}
 
.home-pricing-text179 {
  display: inline-block;
}
 
.home-pricing-text180 {
  display: inline-block;
}
 
.home-pricing-text181 {
  display: inline-block;
}
 
.home-pricing-text182 {
  display: inline-block;
}
 
.home-pricing-text183 {
  display: inline-block;
}
 
.home-pricing-text184 {
  display: inline-block;
}
 
.home-pricing-text185 {
  display: inline-block;
}
 
.home-pricing-text186 {
  display: inline-block;
}
 
.home-pricing-text187 {
  display: inline-block;
}
 
.home-pricing-text188 {
  display: inline-block;
}
 
.home-pricing-text189 {
  display: inline-block;
}
 
.home-pricing-text190 {
  display: inline-block;
}
 
.home-pricing-text191 {
  display: inline-block;
}
 
.home-pricing-text192 {
  display: inline-block;
}
 
.home-pricing-text193 {
  display: inline-block;
}
 
.home-pricing-text194 {
  display: inline-block;
}
 
.home-pricing-text195 {
  display: inline-block;
}
 
.home-pricing-text196 {
  display: inline-block;
}
 
.home-pricing-text197 {
  display: inline-block;
}
 
.home-pricing-text198 {
  display: inline-block;
}
 
.home-pricing-text199 {
  display: inline-block;
}
 
.home-pricing-text200 {
  display: inline-block;
}
 
.home-pricing-text201 {
  display: inline-block;
}
 
.home-pricing-text202 {
  display: inline-block;
}
 
.home-pricing-text203 {
  display: inline-block;
}
 
.home-pricing-text204 {
  display: inline-block;
}
 
.home-pricing-text205 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .home-pricing-container1 {
    flex-direction: column;
  }
  .home-pricing-column3 {
    width: 100%;
  }
  .home-pricing-container2 {
    flex-direction: column;
  }
  .home-pricing-column6 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .home-pricing-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
}
