.home-contact-us-container1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-contact-us-max-width {
  align-self: center;
}
 
.home-contact-us-content1 {
  width: 100%;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: flex-start;
}
 
.home-contact-us-content2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-contact-us-content3 {
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-contact-us-container2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-contact-us-image1 {
  object-fit: cover;
}
 
.home-contact-us-text12 {
  text-align: center;
}
 
.home-contact-us-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.home-contact-us-container4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-contact-us-image2 {
  object-fit: cover;
}
 
.home-contact-us-text14 {
  text-align: center;
}
 
.home-contact-us-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.home-contact-us-text16 {
  display: inline-block;
}
 
.home-contact-us-text17 {
  display: inline-block;
}
 
.home-contact-us-text18 {
  display: inline-block;
}
 
.home-contact-us-text19 {
  display: inline-block;
}
 
.home-contact-us-text20 {
  display: inline-block;
}
 
.home-contact-us-text21 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .home-contact-us-content1 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home-contact-us-content3 {
    position: relative;
    align-items: center;
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .home-contact-us-content1 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .home-contact-us-image1 {
    width: 100%;
  }
  .home-contact-us-image2 {
    width: 100%;
  }
}
