.home-header-container1 {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.home-header-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: space-between;
}
 
.home-header-image1 {
  height: 3rem;
}
 
.home-header-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.home-header-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
 
.home-header-link4-dropdown-trigger {
  gap: 4px;
  cursor: pointer;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.home-header-icon-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.home-header-container2 {
  display: flex;
  align-items: center;
  animation-name: rotateInDownLeft;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: flex-end;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-header-icon10 {
  width: 24px;
  height: 24px;
}
 
.home-header-buttons1 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.home-header-action11 {
  display: flex;
  flex-direction: row;
}
 
.home-header-action21 {
  display: flex;
  flex-direction: row;
}
 
.home-header-burger-menu {
  display: none;
}
 
.home-header-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.home-header-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.home-header-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-header-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.home-header-logo {
  height: 3rem;
}
 
.home-header-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-header-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.home-header-links2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
 
.home-header-link1 {
  text-decoration: none;
}
 
.home-header-link3 {
  text-decoration: none;
}
 
.home-header-link4-accordion {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-header-trigger {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-header-icon-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.home-header-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.home-header-icon16 {
  width: 24px;
  height: 24px;
}
 
.home-header-container4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.home-header-icon18 {
  width: 24px;
  height: 24px;
}
 
.home-header-container5 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-layout-space-halfunit);
  grid-template-columns: 1fr;
}
 
.home-header-menu-item1 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.home-header-page1-image1 {
  width: 50px;
  height: 50px;
}
 
.home-header-content1 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-header-page11 {
  font-style: normal;
  font-weight: 600;
}
 
.home-header-menu-item2 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.home-header-page2-image1 {
  width: 50px;
  height: 50px;
}
 
.home-header-content2 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-header-page21 {
  font-style: normal;
  font-weight: 600;
}
 
.home-header-menu-item3 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.home-header-page3-image1 {
  width: 50px;
  height: 50px;
}
 
.home-header-content3 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-header-page31 {
  font-style: normal;
  font-weight: 600;
}
 
.home-header-menu-item4 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.home-header-page4-image1 {
  width: 50px;
  height: 50px;
}
 
.home-header-content4 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-header-page41 {
  font-style: normal;
  font-weight: 600;
}
 
.home-header-buttons2 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  margin-top: var(--dl-layout-space-twounits);
  align-items: center;
  flex-direction: row;
}
 
.home-header-icon-group {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.home-header-container6 {
  top: 100%;
  left: 0px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  animation-name: fadeInDownBig;
  animation-delay: 0s;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-header-link5-menu-list {
  width: 100%;
  display: grid;
  padding: var(--dl-layout-space-oneandhalfunits);
  grid-gap: var(--dl-layout-space-halfunit);
  max-width: var(--dl-layout-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
 
.home-header-menu-item5 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.home-header-page1-image2 {
  width: 30px;
  height: 30px;
}
 
.home-header-content5 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-header-page12 {
  font-style: normal;
  font-weight: 600;
}
 
.home-header-menu-item6 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.home-header-page2-image2 {
  width: 30px;
  height: 30px;
}
 
.home-header-content6 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-header-page22 {
  font-style: normal;
  font-weight: 600;
}
 
.home-header-menu-item7 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.home-header-page3-image2 {
  width: 30px;
  height: 30px;
}
 
.home-header-content7 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-header-page32 {
  font-style: normal;
  font-weight: 600;
}
 
.home-header-menu-item8 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.home-header-page4-image2 {
  width: 30px;
  height: 30px;
}
 
.home-header-content8 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-header-page42 {
  font-style: normal;
  font-weight: 600;
}
 
.home-header-container7 {
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-header-text14 {
  display: inline-block;
}
 
.home-header-text15 {
  display: inline-block;
}
 
.home-header-text16 {
  display: inline-block;
}
 
.home-header-text17 {
  display: inline-block;
}
 
.home-header-text18 {
  display: inline-block;
}
 
.home-header-text19 {
  display: inline-block;
}
 
.home-header-text20 {
  display: inline-block;
}
 
.home-header-text21 {
  display: inline-block;
}
 
.home-header-text22 {
  display: inline-block;
}
 
.home-header-text23 {
  display: inline-block;
}
 
.home-header-text24 {
  display: inline-block;
}
 
.home-header-text25 {
  display: inline-block;
}
 
.home-header-text26 {
  display: inline-block;
}
 
.home-header-text27 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .home-header-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .home-header-desktop-menu {
    display: none;
  }
  .home-header-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-header-mobile-menu {
    padding-top: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .home-header-container5 {
    grid-gap: 0;
  }
  .home-header-link5-menu-list {
    display: none;
  }
}
 
@media(max-width: 479px) {
  .home-header-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .home-header-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
}
