.home-steps-component-container1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-steps-component-max-width {
  gap: var(--dl-layout-space-fourunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-steps-component-container2 {
  align-items: start;
}
 
.home-steps-component-section-header {
  gap: var(--dl-layout-space-oneandhalfunits);
  top: 10%;
  display: flex;
  position: sticky;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-steps-component-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.home-steps-component-container3 {
  grid-area: span 1/span 1/span 1/span 1;
}
 
.home-steps-component-container4 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  margin-bottom: var(--dl-layout-space-twounits);
  background-color: var(--dl-color-theme-accent1);
}
 
.home-steps-component-text14 {
  text-align: center;
}
 
.home-steps-component-text15 {
  top: var(--dl-layout-space-unit);
  right: var(--dl-layout-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.home-steps-component-container5 {
  top: 10%;
  position: sticky;
  transform: rotate(2deg);
  margin-bottom: var(--dl-layout-space-twounits);
  background-color: var(--dl-color-theme-accent2);
}
 
.home-steps-component-text17 {
  text-align: center;
}
 
.home-steps-component-text18 {
  top: var(--dl-layout-space-unit);
  right: var(--dl-layout-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.home-steps-component-container6 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  margin-bottom: var(--dl-layout-space-twounits);
  background-color: var(--dl-color-theme-accent1);
}
 
.home-steps-component-text20 {
  text-align: center;
}
 
.home-steps-component-text21 {
  top: var(--dl-layout-space-unit);
  right: var(--dl-layout-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.home-steps-component-container7 {
  top: 10%;
  position: sticky;
  transform: rotate(2deg);
  background-color: var(--dl-color-theme-accent2);
}
 
.home-steps-component-text23 {
  text-align: center;
}
 
.home-steps-component-text24 {
  top: var(--dl-layout-space-unit);
  right: var(--dl-layout-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.home-steps-component-text25 {
  display: inline-block;
}
 
.home-steps-component-text26 {
  display: inline-block;
}
 
.home-steps-component-text27 {
  display: inline-block;
}
 
.home-steps-component-text28 {
  display: inline-block;
}
 
.home-steps-component-text29 {
  display: inline-block;
}
 
.home-steps-component-text30 {
  display: inline-block;
}
 
.home-steps-component-text31 {
  display: inline-block;
}
 
.home-steps-component-text32 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .home-steps-component-max-width {
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .home-steps-component-section-header {
    position: static;
    margin-bottom: var(--dl-layout-space-twounits);
  }
  .home-steps-component-actions {
    width: 100%;
    align-self: flex-start;
  }
  .home-steps-component-container4 {
    width: 100%;
  }
  .home-steps-component-container5 {
    width: 100%;
  }
  .home-steps-component-container6 {
    width: 100%;
  }
  .home-steps-component-container7 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .home-steps-component-button {
    width: 100%;
  }
}
