.index-header-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.index-header-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.index-header-image1 {
  height: 3rem;
}
 
.index-header-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.index-header-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.index-header-burger-menu {
  display: none;
}
 
.index-header-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.index-header-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.index-header-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.index-header-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.index-header-logo {
  height: 3rem;
}
 
.index-header-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.index-header-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.index-header-links2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.index-header-icon-group {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.index-header-text1 {
  display: inline-block;
}
 
.index-header-text2 {
  display: inline-block;
}
 
.index-header-text3 {
  display: inline-block;
}
 
.index-header-text4 {
  display: inline-block;
}
 
.index-header-text5 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .index-header-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .index-header-desktop-menu {
    display: none;
  }
  .index-header-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .index-header-navbar-interactive {
    padding: var(--dl-layout-space-unit);
    padding-right: 16px;
  }
  .index-header-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
}
