.index-header-component-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.index-header-component-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: space-between;
}
 
.index-header-component-navlink {
  display: contents;
}
 
.index-header-component-image1 {
  height: 3rem;
  text-decoration: none;
}
 
.index-header-component-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.index-header-component-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.index-header-component-burger-menu {
  display: none;
}
 
.index-header-component-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.index-header-component-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.index-header-component-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.index-header-component-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.index-header-component-logo {
  height: 3rem;
}
 
.index-header-component-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.index-header-component-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.index-header-component-links2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.index-header-component-icon-group {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.index-header-component-text1 {
  display: inline-block;
}
 
.index-header-component-text2 {
  display: inline-block;
}
 
.index-header-component-text3 {
  display: inline-block;
}
 
.index-header-component-text4 {
  display: inline-block;
}
 
.index-header-component-text5 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .index-header-component-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .index-header-component-desktop-menu {
    display: none;
  }
  .index-header-component-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .index-header-component-navbar-interactive {
    padding: var(--dl-layout-space-unit);
    padding-right: 16px;
  }
  .index-header-component-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
}
