.sign-in6-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.sign-in6-max-width {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.sign-in6-container2 {
  width: 50%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}
 
.sign-in6-sign-up-image {
  width: 100%;
  height: 100%;
}
 
.sign-in6-form-root {
  gap: var(--dl-layout-space-unit);
  width: 50%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.sign-in6-container3 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
 
.sign-in6-text10 {
  align-self: flex-end;
}
 
.sign-in6-form1 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
 
.sign-in6-form2 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
 
.sign-in6-email {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-in6-textinput1 {
  width: 100%;
  border-color: var(--dl-color-theme-primary1);
  background-color: transparent;
}
 
.sign-in6-password {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-in6-textfield {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-in6-container4 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.sign-in6-hide-password {
  gap: var(--dl-layout-space-halfunit);
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
 
.sign-in6-icon1 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 24px;
  height: 24px;
}
 
.sign-in6-textinput2 {
  width: 100%;
  border-color: var(--dl-color-theme-primary1);
  background-color: transparent;
}
 
.sign-in6-link {
  align-self: flex-end;
  text-decoration:  underline none;
}
 
.sign-in6-button1 {
  width: 100%;
}
 
.sign-in6-text15 {
  text-align: center;
}
 
.sign-in6-divider1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.sign-in6-divider2 {
  flex: 1;
  width: var(--dl-layout-size-medium);
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
 
.sign-in6-divider3 {
  flex: 1;
  width: auto;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
 
.sign-in6-container5 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
 
.sign-in6-button2 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
}
 
.sign-in6-icon3 {
  width: 24px;
  height: 24px;
}
 
.sign-in6-text18 {
  display: inline-block;
}
 
.sign-in6-text19 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .sign-in6-max-width {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .sign-in6-container2 {
    width: 100%;
    height: var(--dl-layout-size-xxlarge);
    display: none;
  }
  .sign-in6-form-root {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .sign-in6-container3 {
    align-items: center;
  }
}
 
@media(max-width: 479px) {
  .sign-in6-text10 {
    align-self: flex-start;
    text-align: center;
  }
  .sign-in6-text11 {
    text-align: center;
  }
  .sign-in6-button1 {
    width: 100%;
  }
  .sign-in6-button2 {
    width: 100%;
  }
}
