.sign-up4-container1 {
  width: 100%;
  height: 900px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.sign-up4-sign-up-image {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
}
 
.sign-up4-container2 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  height: 100%;
  display: flex;
  z-index: 10;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(0,0,0,0.4);
}
 
.sign-up4-max-width {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.sign-up4-form1 {
  gap: var(--dl-layout-space-twounits);
  width: auto;
  display: flex;
  align-items: center;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.sign-up4-title-root {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.sign-up4-text10 {
  text-align: center;
}
 
.sign-up4-container3 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
 
.sign-up4-button1 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
}
 
.sign-up4-icon1 {
  width: 24px;
  height: 24px;
}
 
.sign-up4-button2 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
}
 
.sign-up4-icon3 {
  width: 24px;
  height: 24px;
}
 
.sign-up4-divider1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.sign-up4-divider2 {
  flex: 1;
  width: var(--dl-layout-size-medium);
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
 
.sign-up4-divider3 {
  flex: 1;
  width: var(--dl-layout-size-medium);
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
 
.sign-up4-text15 {
  text-align: center;
}
 
.sign-up4-form2 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
 
.sign-up4-email {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up4-textinput {
  width: 100%;
}
 
.sign-up4-container4 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
 
.sign-up4-terms-agree {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: center;
}
 
.sign-up4-newsletter {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: center;
}
 
.sign-up4-button3 {
  width: 100%;
}
 
.sign-up4-text19 {
  text-align: center;
}
 
.sign-up4-text20 {
  display: inline-block;
}
 
.sign-up4-text21 {
  display: inline-block;
}
 
.sign-up4-text22 {
  display: inline-block;
}
 
.sign-up4-text23 {
  display: inline-block;
}
 
.sign-up4-text24 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .sign-up4-container1 {
    gap: var(--dl-layout-space-twounits);
    height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .sign-up4-max-width {
    width: 100%;
    padding: var(--dl-layout-space-fourunits);
  }
}
 
@media(max-width: 479px) {
  .sign-up4-max-width {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .sign-up4-form1 {
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
  .sign-up4-text10 {
    text-align: center;
  }
  .sign-up4-text11 {
    text-align: center;
  }
  .sign-up4-button1 {
    width: 100%;
  }
  .sign-up4-button2 {
    width: 100%;
  }
  .sign-up4-button3 {
    width: 100%;
  }
}
