.sign-up-email-container10 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.sign-up-email-max-width {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.sign-up-email-form-root {
  gap: var(--dl-layout-space-unit);
  width: 60%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
 
.sign-up-email-form1 {
  gap: var(--dl-layout-space-twounits);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
 
.sign-up-email-title-root {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-up-email-form2 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
 
.sign-up-email-service-name {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up-email-textinput1 {
  width: 100%;
  border-color: var(--dl-color-theme-primary1);
  background-color: transparent;
}
 
.sign-up-email-email {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up-email-textinput2 {
  width: 100%;
  border-color: var(--dl-color-theme-primary1);
  background-color: transparent;
}
 
.sign-up-email-username {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up-email-textinput3 {
  width: 100%;
  border-color: var(--dl-color-theme-primary1);
  background-color: transparent;
}
 
.sign-up-email-password {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-up-email-textfield1 {
  gap: 4px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up-email-container11 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.sign-up-email-hide-password1 {
  gap: var(--dl-layout-space-halfunit);
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
 
.sign-up-email-icon1 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 24px;
  height: 24px;
}
 
.sign-up-email-textinput4 {
  width: 100%;
  border-color: var(--dl-color-theme-primary1);
  background-color: transparent;
}
 
.sign-up-email-confirm-password {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-up-email-textfield2 {
  gap: 4px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up-email-container12 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.sign-up-email-hide-password2 {
  gap: var(--dl-layout-space-halfunit);
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
 
.sign-up-email-icon3 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 24px;
  height: 24px;
}
 
.sign-up-email-textinput5 {
  width: 100%;
  border-color: var(--dl-color-theme-primary1);
  background-color: transparent;
}
 
.sign-up-email-pass-requirements {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
 
.sign-up-email-pass-conditions1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-up-email-bulletpoint1 {
  gap: 8px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: 8px 8px 8px 0;
  padding-right: 8px 8px 8px 0;
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
}
 
.sign-up-email-container13 {
  flex: 0 0 auto;
  width: 6px;
  height: 6px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.sign-up-email-text18 {
  font-size: 14px;
}
 
.sign-up-email-bulletpoint2 {
  gap: 8px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: 8px 8px 8px 0;
  padding-right: 8px 8px 8px 0;
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
}
 
.sign-up-email-container14 {
  flex: 0 0 auto;
  width: 6px;
  height: 6px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.sign-up-email-text19 {
  font-size: 14px;
}
 
.sign-up-email-pass-conditions2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-up-email-bulletpoint3 {
  gap: 8px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: 8px 8px 8px 0;
  padding-right: 8px 8px 8px 0;
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
}
 
.sign-up-email-container15 {
  flex: 0 0 auto;
  width: 6px;
  height: 6px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.sign-up-email-text20 {
  font-size: 14px;
}
 
.sign-up-email-bulletpoint4 {
  gap: 8px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: 8px 8px 8px 0;
  padding-right: 8px 8px 8px 0;
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
}
 
.sign-up-email-container16 {
  flex: 0 0 auto;
  width: 6px;
  height: 6px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.sign-up-email-text21 {
  font-size: 14px;
}
 
.sign-up-email-pass-conditions3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-up-email-bulletpoint5 {
  gap: 8px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: 8px 8px 8px 0;
  padding-right: 8px 8px 8px 0;
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
}
 
.sign-up-email-container17 {
  flex: 0 0 auto;
  width: 6px;
  height: 6px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.sign-up-email-text22 {
  font-size: 14px;
}
 
.sign-up-email-container18 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.sign-up-email-terms-agree {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
}
 
.sign-up-email-checkbox {
  align-self: center;
}
 
.sign-up-email-text25 {
  text-align: center;
}
 
.sign-up-email-have-an-account-login {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: flex-start;
}
 
.sign-up-email-container19 {
  width: 40%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.sign-up-email-sign-up-image {
  width: 100%;
  height: 100%;
}
 
.sign-up-email-text27 {
  display: inline-block;
}
 
.sign-up-email-text28 {
  display: inline-block;
}
 
.sign-up-email-text29 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .sign-up-email-form-root {
    width: 100%;
    padding: var(--dl-layout-space-fourunits);
  }
  .sign-up-email-container19 {
    display: none;
  }
}
 
@media(max-width: 479px) {
  .sign-up-email-form-root {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .sign-up-email-pass-requirements {
    flex-direction: column;
  }
  .sign-up-email-button {
    width: 100%;
  }
}
